.profile {
  width: 500px;
  height: 400px;
  border: 2px solid #000;
  margin: 15px auto;
  background-color: forestgreen;
}
h3 {
  padding: 20px 0;
}

ul {
  list-style: none;
}

li {
  display: inline;
  padding: 15px;
  border: 1px double #000;
  margin: 0 10px;
}
li a {
  color: rgb(167, 143, 9);
}

li a:hover {
  color: #000;
  text-decoration: none;
}

li:hover {
  background-color: darkslategray;
  border: 1px double rgb(177, 4, 4);
}
